<launch>
    <node
        name    = "SocialTurtle"
        pkg     = "drunk_turtle"
        type    = "SocialTurtle.py"
        args    = ""

        respawn = "false"
        output  = "screen"
    />

    <node
        name    = "turtlesim_node"
        pkg     = "turtlesim"
        type    = "turtlesim_node"
        args    = ""

        respawn = "false"
        output  = "screen"
    />


</launch>
